<div class="how-to">
	<span>
		Welcome to the journey of journaling and tracking!
	</span>
	<ul>
		<li>Don't worry, it's not too hard!</li>
		<li>Once it becomes a habit, you will start achieving your goals by doing a little every day</li>
		<li>In fact, you don't need any fancy tools, you just need pen and paper!</li>
		<li>Once you get the hang of it, you can make your pages pretty</li>
		<li>Watch the video below to get started</li>
	</ul>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/fm15cmYU0IM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>