
<div class="templates-page">
	<h1>Click image previews to download</h1>
	<div class="templates-container">
		<div class="downloadable-template">
			<a href="/public/images/bullet-journal-printables-bullet-journal-template-bullet-journal-PDF-bullet-journal-pages-4.png" download>
				<img src="/public/images/bullet-journal-printables-bullet-journal-template-bullet-journal-PDF-bullet-journal-pages-4.png"/>
			</a>
			<span>
				Find more at 
				<a href="https://www.kitchentableclassroom.com/free-bullet-journal-printables/">KitchenTableClassroom</a>
			</span>
		</div>
		<div class="downloadable-template">
			<a href="/public/images/bullet-journal-printables-bullet-journal-template-bullet-journal-PDF-bullet-journal-spreads-bullet-journal-pages-2.png" download>
				<img src="/public/images/bullet-journal-printables-bullet-journal-template-bullet-journal-PDF-bullet-journal-spreads-bullet-journal-pages-2.png"/>
			</a>
			<span>
				Find more at 
				<a href="https://www.kitchentableclassroom.com/free-bullet-journal-printables/">KitchenTableClassroom</a>
			</span>
		</div>
		<div class="downloadable-template">
			<a href="/public/images/books-read-updated-2.pdf" download>
				<img src="/public/images/booksIhaveRead.png"/>
			</a>
			<span>
				Find more at 
				<a href="https://blog.createandcraft.tv/bullet-journal-printables/">CreateAndCraft</a>
			</span>
		</div>		
	</div>
</div>