<div class="tracker-page">
	<h3>Create your own downloadable habit tracker template</h3>
	<form id="tracker-form">
		Days: <select id="days" placeholder="30" required></select><br>
		Tracking Label: <input type="text" name="label" placeholder="Exercise" required><br>
		<input type="submit" value="Submit">
	</form>
	<h4>Your generated template:</h4>
	<iframe id="generatedTracker" width="100%"></iframe>
</div>